.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; //hides some overslow from an  element/ will make it fit into a frame/ for me it was optional

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover; // this will the really big video fit/ parts that dont show are clipped off/ works with htmls elements
  }
}