*, *::after, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* we inherist box-sizing from body */
}

html {
  //this defines what 1 rem is
  font-size: 62.5%;
  /* we divide 10/16, 16being the default font-size in browsers, now we get 62.5% of the 100%(16px default) font */
}
body {
  
  box-sizing: border-box;
}