*, *::after, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* we inherist box-sizing from body */
}

html {
  //this defines what 1 rem is // 1rem = 10px
  font-size: 62.5%; //of 16px(default browser font-size or better know as 1em)
  // we divide 10px(what we want)/16px, 16 being the default font-size in browsers or 1em , now we get 62.5% of the 100%(16px default) font 
  

  //larger before smaller queries
  @include respond(tab-land) { 
    //width less than 1200px?
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    //width less than 900px?
    font-size: 50%; // reverse to find out size of px, do 16 * .5 = 8px // // 1rem = 8px, why? 8px/16px = 50% 
  }

  // @include respond(phone) {
  //   font-size: 30%; 
  // }

  @include respond(big-desktop) {
    font-size: 75%; // of 16px is 12px font-size now
  }

}
body {
  box-sizing: border-box;
  padding: 3rem;


  @include respond(tab-port) {
    //width less than 900px?
    padding: 0;
  }
}