.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem; 
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem; 
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0rem 1rem 3rem rgba($color-black, .2); //x y blur (color, %)
    text-align: center; // this will put the text in line with circle for nav button
    cursor: pointer; //shows hand pointing in stead of arrow
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 60%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000;
    transition: all .5s cubic-bezier(0.83, 0, 0.17, 1); 
    //costum timing / function of how much change occers over time / easings.net &cubic-bezier.com/
    //transition: transform .8s ease-out; //the animation that make the list items (options) appear

    // transform: scale(90); for testing purpose / when need to see the background of nav bar
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 1500;
    
    opacity: 0; //keep the nav hidden
    width: 0;

    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1); 
    // transition: all .6s ; 
    //the animation that make the nav appear
    
  }

  &__list {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style:  none;
    text-align: center;
    width: 100%; // max width for better transition 
    
  }

  &__item {
    margin: 1rem;
    
  }

  &__link {
    &:link, &:visited {
      display: inline-block; //gives it its own proper line
      font-size: 3rem;
      font-weight: 300;
      padding:  1rem 2rem; //x y
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 235%; //hides the block that will come to the visited nav item
      transition: all .4s ease;

      span {
        margin-right: 1.5rem;
        font-weight: 400;
        display: inline-block;
      }

    }

    &:hover, &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(6rem);
    }
    
  }

  //FUNCTIONALITY
  // here we are saying, when we click the label or "check the box", then make the nav bigger 
  &__checkbox:checked ~ &__background {
      transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1; //keep the nav hidden no longer
    width: 100%;
  }

  //ICON 
  
  &__icon {
    position: relative;
    margin-top: 3.5rem; // here we bring down the lines of icon top completely center it for nav button

    &,
    &::before, 
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;;
    }

    //moving the lines top create good icon
    &::before {top: -1rem;}
    &::after {top: 1rem;}

  }

  //animating button o expand a bit 
  &__button:hover &__icon::before {
    top: -1.2rem;
    
  }

  &__button:hover &__icon::after {
    top: 1.2rem;
  }
  //when checkbox is check we select "brother" then child(icon) of the selected brother(button) 
  // we remove the line in the middle
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

}



