.form {

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit; // will inherint font properties
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border-bottom: 3px solid transparent;
    width: 85%;
    display: block;
    transition: all .3s;

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;  
      //only safari and chrome
    }

    
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
      //this is when youre filling out the forum and needs to show a type of invalid input
      outline: none;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1); // shadow: x 0, y 1rem, blur 2rem, and rgba(color)
      border-bottom: 3px solid $color-primary; 
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem; // aligns exactly below on the same position as placeholder text
    margin-top: .7rem;
    display: block;
    transition: all .3s; //this parents allows trasntions happening in all its children
  }

  // here we select placeholder text and add (+) the adjacent sibling that is label
  //   use ~ for geral sibling selector (have divs in between elements)
  &__input:placeholder-shown  + &__label{
    opacity: 0;
    visibility: hidden; //serves when doing animations
    transform: translateY(-4rem); //label of input now travels
  }

  &__radio-group {
    width: 45%;
    display: inline-block;
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer; //changed the arrow to a hand when choosing on form
    position: relative; //parent element of the radio buttons
    padding-left: 4.5rem; //paddding used to help off set costum radio button
  }
  
  &__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid $color-primary;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; //helps move the radio button where we want it 


    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: all .2s;
    }
  }

  // checked radio/ select sibling/ and its child
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;

  }
}